.colorsOff {
      background-color: #fff;
      border: 0px;
      margin: 0px;
      padding: 0px;
      display: inline-block;
}
.colorsOn {
      background-color: #000;
      border: 0px;
      margin: 0px;
      padding: 0px;
      display: inline-block;
}
.colorsOn2{
      background-color:#83e2c6;
      border: 0px;
      margin: 0px;
      padding: 0px;
      display: inline-block;

}